.button-font{
    font-size: 24pt;
}

.button-font-trf{
    font-size: 24pt;
    color: white;
    background-color: midnightblue;
    width: 20%;
    height: 80px;
}

.title-header{
    color: #0D416C;
    font-family: "HoloLens MDL2 Assets";

}
.text-color{
    color: midnightblue;

}
/*.backgroundimage {*/
/*    background: url("frontend/styles/background.jpg") !important;*/
/*}*/